.navheader {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin: 0;
    flex-wrap: wrap;

    &_object {
       width: 140px;
        
        &-title {
            height: 35px;
            width: 100%;
            background-color: black;
            color: white;
            padding-top: 8px;
            border: white 1px solid;
            border-radius: 10px;
            margin: 2px;
            box-shadow: inset 0 0 1rem blue;
        }
    }
}