.main {

    border-left: black solid 2px;
    border-right: rgb(119, 119, 119) solid 2px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
    &_p {
        width: 45%;
        border: solid 1px blue;
        margin: 20px;
        padding: 20px;
        background-color: black;
        color: white;
    
    &-h {
      font-family: 'Goldman', cursive;
      font-size: 2em;

      &-p {
        text-align: left;
        margin-top: 12px;
        font-size: 1.2rem;

        span {
          text-decoration: line-through;
        }
      }
      }
    }
    

    &-img {
      padding-top: 50px;
    }
}
