.error404 {
    border-left: black solid 2px;
    border-right: black solid 2px;
    height: 100vh;
    background-color: black;
    color: blue;

    &_content {
        /* font-family: 'Caveat', cursive; */
        font-family: 'Goldman', cursive;

        &-title {
            font-size: 2rem;
            font-weight: bold;
            padding: 12px 0 25px 0;
        }
        &-p {
            font-size: 2rem;
            font-weight: bold;
            padding: 25px 0;
            margin-bottom: 16px;
        }
    }
}